<footer class="footer container">
  <div class="grid-footer">
    <div class="logo-col">
      <p class="copyright">
        Copyright &copy; <span class="year">2022</span> by Cinephila.
        All rights reserved.
      </p>
    </div>
    <div class="contacts-col">
      <p class="footer-heading">Contact us</p>
      <address class="contacts">
        <a class="footer-link" href="mailto:hello@omnifood.com">contacts@cinephila.com</a>
      </address>
    </div>
    <div class="nav-col">
      <p class="footer-heading">Account</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">Sign in</a></li>
        <li><a class="footer-link" href="#">iOS app</a></li>
        <li><a class="footer-link" href="#">Android app</a></li>
      </ul>
    </div>
    <div class="info-col">
      <p class="footer-heading">Company</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">About Cinephila</a></li>
      </ul>
    </div>

  </div>
</footer>