<header class="header">
  <a href="#">
    <img src="../assets/img/logo.jpg" alt="Cinephila Logo" class="logo">
  </a>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li routerLinkActive="active"><a routerLink="/profile">Profile</a></li>
      @if (!(isLogged)) {
        <li>
          <a class="main-nav-link nav-cta" href="#" (click)="Login()">
          Sign In</a>
        </li>
      } @else {
        <li><a class="main-nav-link nav-cta" href="#" (click)="Logout()">Sign Out</a></li>
      }
    </ul>
  </nav>

</header>