<section id="carousel">
  <div class="container-lg">
    <div class="flex-container">
      <div>
        <button class="control" (click)="onPreviousClick()">
          <span class="arrow left"></span>
        </button>
      </div>
      <div class="carousel">
        <div class="background-movie" @carouselAnimation>
          <img [src]="movies[previousSlide].posterPath" class="background-movie-poster" />
        </div>
        <div class="movie-info" @carouselAnimation>
          <img [src]="movies[currentSlide].posterPath" class="carousel-poster" />
          <div class="detailed-information">
            {{movies[currentSlide].name}}<br>
            {{movies[currentSlide].yearOfCreation}}
          </div>
        </div>
        <div class="background-movie" @carouselAnimation>
          <img [src]="movies[nextSlide].posterPath" class="background-movie-poster" />
        </div>
      </div>
      <div>
        <button class="control" (click)="onNextClick()">
          <span class="arrow right"></span>
        </button>
      </div>
    </div>
  </div>
</section>

<section id="weekly-picks" class="weekly-picks">
  <div class="container">
    <h2 class="weekly-picks-heading">Our weekly picks</h2>
  </div>
  <div class="container">
    <div class="weekly-picks-grid">
      <li *ngFor="let movie of movies; index as i; first as isFirst">
        <figure class="weekly-picks-item">
          <img src={{movie.posterPath}} alt={{movie.name}} />
        </figure>
      </li>
    </div>
  </div>
</section>